body {}

.part-1 {
    display: block;
    text-align: center;
    color: rgb(249, 246, 246);
    padding: 200px;
}

.part-1 {
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 40px;
}

.btn {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    margin: auto;
    padding: 10px 20px;
    border-radius: 20px;
}

.part-2 {
    text-align: center;
    font-size: 40px;
}

.Donate-btn {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
}

.Donate {
    text-decoration: none;
    box-shadow: 10px 10px 40px gray;
    background-image: linear-gradient(white);
    margin: 10px;
    padding: 70px 30px;
    border-radius: 10px;
}

.Orenge {
    text-decoration: none;
    box-shadow: 10px 10px 40px gray;
    background-color: rgba(244, 108, 108, 0.637);
    margin: 10px;
    padding: 70px 30px;
    border-radius: 10px;
}

.Orenge {
    border: 7px solid rgba(232, 12, 12, 0.703);
}

.part-3 {
    color: gray;
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    font-size: 40px;
    line-height: 5px;
}

.btn-2 {
    margin-top: 80px;
}

.Donate-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 20px;
}

.part-4 {
    display: block;
    text-align: center;
    font-size: 40px;
}

.part-5 {
    text-align: center;
}

.shadow {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    text-align: start;
}

.box {
    box-shadow: 10px 10px 40px gray;
    margin: 10px;
    width: 40%;
    height: 500px;
    padding-top: 15%;
    padding-left: 15px;
    font-size: 40px;
}

#img-1 {
    background-color: antiquewhite;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: 15px;
    background-position-y: 80px;
}

#img-2 {
    background-color: deeppink;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: 15px;
    background-position-y: 80px;
}

#img-3 {
    background-color: darksalmon;
    background-image: url(icons/medicine.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: 15px;
    background-position-y: 80px;
}

.part-6 {
    display: flex;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.img {
    border-radius: 10px;
}

.part-7 {
    display: flex;
    margin: 10px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.half-width {
    width: 50%;
    font-size: 30px;
}

.img-2 {
    width: 90%;
    border-radius: 10px;
}

.part-8 {
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.mail {
    display: block;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(253, 210, 92);
    padding: 50px;
}

.mail {
    box-sizing: border-box;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
}

.foter {
    display: block;
    text-align: center;
    color: brown;
    background-color: black;
    font-size: 20px;
    padding: 40px;
}

#white {
    color: white;
}